<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="{{ asset('src/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="app">


<div class="container">
    <div ui-view></div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ asset('src/vendor/jquery/dist/jquery.min.js') }}"></script>

<!-- AngularJS -->
<script src="{{ asset('src/vendor/angular/angular.min.js') }}"></script>
<script src="{{ asset('src/vendor/angular-ui-router/release/angular-ui-router.min.js') }}"></script>

<script src="{{ asset('src/js/app.js') }}"></script>
<script src="{{ asset('src/js/routes.js') }}"></script>

<script src="{{ asset('src/js/users/users.controller.js') }}"></script>
<script src="{{ asset('src/js/users/user/user.controller.js') }}"></script>

<script src="{{ asset('src/js/services/user.service.js') }}"></script>
<script src="{{ asset('src/js/services/style.service.js') }}"></script>

<script src="{{ asset('src/js/filters/actualstyle.filter.js') }}"></script>
<script src="{{ asset('src/js/filters/isAvailable.filter.js') }}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->

<script src="{{ asset('src/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</body>
</html>