<a href="" ui-sref="root()">MainPage</a>

<div class="user">
  <div class="user-header">
    <div class="row">
      <div class="col-lg-12 title">
        <h1>User # {{ vm.user.id }}</h1>

        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
            <th>Styles</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ vm.user.id }}</td>
            <td><input type="text" ng-model="vm.user.name"></td>
            <td><input type="text" ng-model="vm.user.email"></td>
            <td><button class="btn btn-primary" ng-click="vm.putUser()">Save</button></td>
            <td>

              <div class="dropdown" style="display: inline-block;">
                <button class="btn btn-default dropdown-toggle"
                        type="button"
                        id="dropdownMenu1"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="true">
                  Styles
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li ng-repeat="style in vm.styles | isAvailableFilter: vm.user.styles">

                    <a ng-click="vm.addUserStyle(style)">{{ style.value }}</a>
                  </li>
                </ul>
              </div>

              <span ng-repeat="style in vm.user.styles"
                    style="display: inline-block; border: 1px solid #3379b6; margin:2px; padding: 2px;">
                <span ng-bind="style.value"></span>
                <a class="glyphicon glyphicon-remove"
                   ng-click="vm.removeUserStyle(style)">
                </a>
              </span>


            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>