<div class="filters">
    <div class="row">
      <h1>Filters:</h1>
      <br>
      <form name="filterForm">
        <label ng-repeat="style in vm.styles | orderBy: 'id'"
               style="display: inline-block; border: 1px solid black; margin: 2px; padding: 2px;">
          <input type="checkbox"
                 ng-model="vm.actualStyles[style.id]"
                 ng-click="vm.getUsers()"> - {{ style.value }};
          <input type="text"
                 ng-model="vm.actualStyles[style.id]">
        </label>
      </form>
    </div>
</div>

<div class="users">
  <div class="users-header">
    <div class="row">
      <div class="col-lg-12 title">
        <h1>Users</h1>

        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Styles</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="user in vm.users | ActualStyleFilter: vm.actualStyles" ng-if="vm.users.length>0">
            <td ng-bind="user.id"></td>
            <td ng-bind="user.name"></td>
            <td ng-bind="user.email"></td>
            <td>
              <span ng-repeat="style in user.styles">{{ style.value }}{{ $last ? '' : ', ' }}</span>
            </td>
            <td><a href="" ui-sref="user({ userId: user.id })">Edit</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>